@page
@model csci340_iseegreen.Pages_Search.DetailsModel

@{
    ViewData["Title"] = "Details";
    string error = Model.Error;
    string kewID = Model.Taxon.KewID;
}


@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<h1>Details</h1>

@if (error != null) {
    <div class="error text-danger">
        @error
    </div>
}

<div>
    <h4>Lists</h4>
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Taxon.KewID) : @Html.DisplayFor(model => model.Taxon.KewID)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Taxon.Authors) : @Html.DisplayFor(model => model.Taxon.Authors)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Taxon.USDAsymbol) : @Html.DisplayFor(model => model.Taxon.USDAsymbol)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Taxon.USDAsynonym) : @Html.DisplayFor(model => model.Taxon.USDAsynonym)
        </dt>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
             <th id ="cat">
                @Html.DisplayNameFor(model => model.Taxon.Genus.Family.Category)
            </th>
            <th id ="family">
                @Html.DisplayNameFor(model => model.Taxon.Genus.Family)
            </th>
            <th id="genus">
                @Html.DisplayNameFor(model => model.Taxon.Genus)             
            </th>
            <th id="species">
                @Html.DisplayNameFor(model => model.Taxon.SpecificEpithet)
            </th>
            <th id="infra">
                @Html.DisplayNameFor(model => model.Taxon.InfraspecificEpithet)
            </th>
            <th id="rank">
                @Html.DisplayNameFor(model => model.Taxon.TaxonRank)
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="cat">
                @Html.DisplayFor(model => model.Taxon.Genus.Family.Category.Description)
            </td>
            <td id="family">
                @Html.DisplayFor(model => model.Taxon.Genus.FamilyID)
            </td>
            <td id="genus">
                @Html.DisplayFor(model => model.Taxon.GenusID)
            </td>
            <td id="species">
                @Html.DisplayFor(model => model.Taxon.SpecificEpithet)
            </td>
            <td id="infra">
                @Html.DisplayFor(model => model.Taxon.InfraspecificEpithet)
            </td>
            <td id="rank">
                @Html.DisplayFor(model => model.Taxon.TaxonRank)
            </td>
        </tr>
    </tbody>
</table>

@if (SignInManager.IsSignedIn(User))
{
    <form asp-page-handler="AddList" method="post">
        <input type="hidden" value="@kewID" name="KewID" />
        <select name="list">
            <option id="selectList" value="">Select List</option>
            @foreach (var item in Model.SelectList)
            {
                if (item.OwnerID == UserManager.GetUserId(User))
                {
                    <option value="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </option>
                }
            }
            <option id="newList" value="">Start a New List</option>
        </select>
        <input type="hidden" value="@UserManager.GetUserId(User)" name="userID" />
        <input type="text" value="" placeholder="New list name" name="newName" />
        <input type="submit" value="Add" />
    </form>
}

<div>
    <p>
        @ViewData["description"]
    </p>
</div>

<div>
    <a asp-page="./Index">Back to Search</a>
</div>